{% extends "base.html" %}

{% block title%} {{month_text | title}} {% endblock %}

{% block content %}
    {% include "calender/includes/headerTwo.html"%}
    <h1>This is month's challenge - {{month_text | title}} </h1>
    {% if text is not None %}
        <h2>Hello month ....{{text |upper}}</h2>
    {% else %}
        <p>There is not challenge available for this month</p>
    {% endif %}
    {% include "calender/includes/footerTwo.html"%}
{% endblock %}


{% comment %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is month's challenge - {{month_text | title}} </h1>
    {% if text is not None %}
        <h2>Hello month ....{{text |upper}}</h2>
    {% else %}
        <p>There is not challenge available for this month</p>
    {% endif %}

</body>
</html>  {% endcomment %}